{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>QuickReview</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <script defer src="{% static 'js/home.bundle.js' %}"></script>
  </head>
  <body>
    <h1>QuickReview</h1>
    <h2>A fast way to get your resumes and cover letters reviewed</h2>
    <div id="app"></div>
  </body>
</html>
